{% include "header.html" %}

<br/>
<br/>
    <div>
        <p><h2 class="dark-heading">About Me</h2></p>
    </div>
    <div class="lorem"><h3 class="main-text">
        <div>I am a developer based in Bratislava, Slovakia. I am passionate about developing programs in Python,
            designing user-centered websites, as well as, analyzing and visualizing data. Over the last couple of years,
            I have been preparing myself for a developer position. Lately, I have been intensively immersed in coding,
            which has resulted in over 100 completed projects, proving my knowledge of <span class="dark-text">Python, CSS, HTML, and JavaScript.</span>
        </div>
        <br/>
        <div>In my previous analytical positions I gained practical skills delivering high quality reports and
            tracking initiatives to analyze, interpret, and calculate their impact. I worked with programs and databases
            such as SAP, Nielsen Answers, and GfK AnalyzeIT. Moreover, I proved my skills in finding curated
            automatic solutions for challenging processes by delivering continuous improvements using
            Microsoft Excel VBA, Microsoft Power Query, and SAP Scripts that led to significant FTE savings and
            the possibility to earn a Lean Six Sigma Green Belt Certification.
            <span class="dark-text">The excitement of writing my own code and creating meaningful impact sparked my passion for programming.</span>
        </div>
        <br/>
        <div>What started as a free time hobby has turned into completed courses: 100 Days of Code - <span class="dark-text">Python Pro Bootcamp</span>,
            Women Data Academy - <span class="dark-text">Certification in Python for data analytics</span>. My interest in web design led me to
            learn CSS and HTML. I am currently immersed in JavaScript, practicing daily at the <span class="dark-text">Web Development Bootcamp</span> course.
        </div>
        <br/>
        <div>
        My collection of languages completes English, German and Spanish, from which I hugely benefited in my professional as well as personal life.
        My hunger for the next big challenge, along with my programming skills, analytical thinking, and attention to detail
        will definitely be an asset in my future role.
            <span class="dark-text">If you are looking for someone like me to join your company, let's get in touch.</span>
        </div>
        </h3>
    </div>
    <br>
    <br>
{% include "footer.html" %}